@*@model ShopStore.Repository.DbContext.Product*@
@model IEnumerable<ShopStore.Repository.DbContext.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Товары</h2>
<table class="table">
    <thead>
    <tr>
        <th class="text-center">№</th>
        <th class="text-center">Название товара</th>
        <th class="text-center">Описание</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td class="text-center">@product.ProductId</td>
            <td class="text-center">@product.ProductName</td>
            <td class="text-center">@product.Description</td>
        </tr>
    }
    </tbody>
</table>

<div class="text-center">
 @Html.ActionLink("Вернуться к магазинам", "ViewShops", "Home")
</div>
